body {
    background-color: #00e1d9;
    text-align: center;
}
h1 {
    font-size: 60px;
    color: #5e001f;
    padding-bottom: 150px;
}

h2 {
    font-size: 150px;
    color: #5e001f;
}

h3 {
    font-size: 60px;
    color: #5e001f;
}